@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Our programs are underlined by building consistency, aerobic and muscular endurance as well as strength specific to your sport and distance.</p>
<p>The goal of the programs is to be fast on your goal race day. And we encourage racing along the way! The art & craft of racing is built by racing, not training!</p>


<h3>@ViewData["Message"]</h3>

<p>Kephren Izzard or Koach Keph as he’s known is a self professed Triathlon Geek, who’s passion for the sport flowed over to coaching after being asked for help from other athletes as they began the sport of swim, bike, run.</p>
<p>Often learning the hard way, Koach has been coached by some of the top coaches including Purplepatch’s Matt Dixon & Stephan Gage and brings his own twist to his coaching believing that sport specific strength is a key component for success at all distances.</p>
<p>Koach has had success with his athletes at National & International Age Group level with Long Course National Champions & Podiums and 3 Top 5 finishes at Long Course World Championships in 2016 alone!</p>
<p>With a passion for seeing people achieve their best, he has grown beginners to become Ironman finishers, finishers to become competitors & champions in various distances!</p>

<h3>My results</h3>

<ul>
    <li>4th 2016 World Long Course Championships M35-39</li>
    <li>Ironman World Championship Qualifer, Ironman PB 9:30:03, 5 time Ironman finisher</li>
    <li>Multiple age group podiums at Sprint, Olympic, Long Course Triathlons</li>
</ul>